@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
}


:root {
    --color-00: #fff;
    --color-01: #000;
    --color-03: darkgrey;
    
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}


html, body {
    background-color: var(--color-03);
    min-height: 100vh;
    font-family: var(--fonte1);
}

header {
    background-color: var(--color-01);
}

header > h1 {
    color: var(--color-00);
    font-family: var(--fonte2);
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 10vw;
}

header p {
    padding-bottom: 50px;
    font-family: var(--fonte1);
    color: var(--color-00);
    text-align: center;
}

header a, footer a {
    color: var(--color-00);
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--fonte3);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: var(--color-00);
}

section.imagem {
    color: var(--color-00);
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.514);
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section.imagem#img01 {
    background-image: url(../img/background001.jpg);
}

section.imagem#img02 {
    background-image: url(../img/background002.jpg);
}

footer {
    background-color: var(--color-01);
    text-align: center;
    color: var(--color-00);
    padding: 10px;
    font-family: var(--fonte1);
}